@use '../base/settings';

.cartEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 2rem;

    .icon {
        color: settings.$secondary;
        font-size: 5rem;
    }
}

.text-center {
    text-align: center;
}

.cartView {
    margin-top: 2rem;
    padding: 0 10%;

    img {
        max-width: 4rem;
    }

    .cartItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .contenedor-total {
        display: flex;
        justify-content: flex-end;
        align-items: right;
        padding: 2rem;
    }

    .total {
        margin-left: 2rem;
        font-weight: bold;
    }
}