@use '../base/settings';
#itemCount {
    .btn-count {
        background-color: #fff !important;
        color: #000 !important;
        border: none;
    }

    .operacion {
        border-radius: 50% !important;
        background-color: settings.$secondary !important;
    }
}