@use '../base/settings';

.itemDetail {
    padding: '1rem 10rem';
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
}

.img-thumbnail {
    max-width: 20rem;
    background-color: settings.$secondary !important;
    margin: 1rem;
}