@use './styles/base/settings';

//estilos generales y reutilizables en el resto de los componentes
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background-color: settings.$primary;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: settings.$secondary;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  /* Ancho de la barra de desplazamiento */
  height: 10px;
  /* Altura de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: settings.$primary;
  border-radius: 20px;
  border: 2px solid settings.$secondary;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: settings.$primary !important;
}

.text-secondary {
  color: settings.$secondary !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mt-2 {
  margin-top: 2rem !important;
}
