@import './styles/base/settings';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background-color: $primary;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: $secondary;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  /* Ancho de la barra de desplazamiento */
  height: 10px;
  /* Altura de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 20px;
  border: 2px solid $secondary;
}

.dropdown-item.active, .dropdown-item:active{
  background-color: $primary !important;
}

.text-secondary{
color: $secondary !important;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-2{
  margin-top: 2rem !important;
}